.aboutProject {
    display: grid;
    max-width: 1140px;
    margin: auto;
    grid-template-columns: 228px 343px 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 110px;
}

.mainTitle {
    width: 1140px;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #DADADA;
    margin: auto;
    padding-bottom: 23px;
}

.aboutProject__title {
    grid-column-start: 1;
    grid-column-end: 6;
}

.aboutProject__block1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.aboutProject__blockTitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    margin: 0;
    margin-top: 70px;
    margin-bottom: 26px;
}


.aboutProject__block2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.aboutProject__blockText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 110px;
}

.aboutProject__time {
    margin: 0;
    margin-bottom: 14px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}


.aboutProject__timeBack {
    grid-column-start: 1;
    grid-column-end: 2;
    background: #3DDC84;
    color: black;
}

.aboutProject__timeFront {
    grid-column-start: 2;
    grid-column-end: 6;
    background: #303030;
}

.aboutProject__textBack {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
}

.aboutProject__textFront {
    grid-column-start: 2;
    grid-column-end: 6;
    margin: 0;
}

.aboutProject__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}

@media screen and (max-width: 1280px) {
    .aboutProject {
        margin-left: 50px;
        margin-right: 50px;
        grid-template-columns: 20% 30% 1fr 1fr;
        margin-bottom: 90px;
    }

    .aboutProject__title {
        width: 100%;
    }

    .aboutProject__block1 {
        margin-right: 30px;
    }

    .aboutProject__blockText {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 93px;
    }

    .aboutProject__blockTitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.04em;
        margin: 0;
        margin-top: 70px;
        margin-bottom: 26px;
    }
}

@media screen and (max-width: 769px) {
    .aboutProject {
        margin-left: 18px;
        margin-right: 18px;
        margin-bottom: 70px;
    }

    .aboutProject__blockTitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 60px;
        margin-bottom: 16px;
    }

    .aboutProject__blockText {
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 0;
    }

    .aboutProject__block1 {
        grid-column-start: 1;
        grid-column-end: 5;
        margin-right: 0;
    }

    .aboutProject__block2 {
        grid-column-start: 1;
        grid-column-end: 5;
        margin-bottom: 60px;
    }

    .aboutProject__time {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 10px;
    }

    .aboutProject__text {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
    }
}