.page404 {
    width: 400px;
    margin: auto;
    margin-top: 246px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.page404__logo {
    margin-bottom: 5px;
}

.page404__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 184px;
}

.page404__back {
    background: rgba(0, 0, 0,0);
    color: #4285F4;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
}

.page404__back:hover {
    opacity: 0.5;
    transition: opacity 0.2s linear;
}