.promo {
	max-width: 1200px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #272727;
	margin: 0 auto;
	flex-direction: column;
	/* border: 2px solid red; */
	width: 93vw;
}

.promo__title {
	max-width: 730px;
	font-family: Inter;
	font-size: 50px;
	font-weight: 400;
	line-height: 58px;
	letter-spacing: -0.04em;
	text-align: center;
	color: #FFFFFF;
	margin: 160px 0 151px 0;
	padding: 0;
	letter-spacing: -0.04em;
}

@media (max-width: 770px) {
	.promo {
		max-width: 94.67vw;
	}

	.promo__title {
		font-size: 40px;
		line-height: 52px;
		max-width: 680px;
		margin: 350px 0 314px 0;
	}
}

@media (max-width: 400px) {
	.promo {
		max-width: 91vw;
		min-width: 320px;
	}

	.promo__title {
		font-size: 29px;
      line-height: 37px;
		max-width: 680px;
		margin: 220px 0 212px 0;
	}
}