.saved-movies__list {
   padding: 0px 70px 20px 70px;
}

@media (max-width: 770px) {
   .saved-movies__list {
      padding: 0px 30px 20px 30px;
   }
}

@media (max-width: 400px) {
   .saved-movies__list {
      padding: 0px 10px 20px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
   }
}