.navtab {
    align-self: end;
    justify-self: center;
    margin-bottom: 30px;
    display: flex;
}

.navtab__button {
    display: block;
    text-decoration: none;
    background: #303030;
    border-radius: 10px;
    width: 96px;
    height: 36px;
    margin-right: 10px;
    border: 0;
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.navtab__button:hover {
    opacity: 0.5;
    transition: opacity 0.2s linear;
}

.navtab__button:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 769px) {
    .navtab__button {
        width: 82px;
        height: 26px;
        padding-top: 5px;
    }
}