.promo {
    margin: auto;
    max-width: 1200px;
    height: 493px;
    background: #272727;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    margin-top: 40px;
    margin-bottom: 110px;
}

.promo__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    width: 730px;
    align-self: end;
    justify-self: center;
    margin: 0;
}

.promo__groupButtons {
    align-self: end;
    justify-self: center;
    margin-bottom: 30px;
    display: flex;
}

.promo__button {
    display: block;
    text-decoration: none;
    background: #303030;
    border-radius: 10px;
    width: 96px;
    height: 36px;
    margin-right: 10px;
    border: 0;
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.promo__button:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 1280px) {
    .promo {
        margin: 20px 20px 90px;
    }
    .promo__title {
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        max-width: 680px;
    }
}

@media screen and (max-width: 769px) {
    .promo {
        min-height: 836px;
        min-width: 292px;
    }

    .promo__title {
        font-weight: 400;
        font-size: 29px;
        line-height: 37px;
        max-width: 292px;
    }
}

@media screen and (max-width: 321px) {
    .promo {
        min-height: 586px;
        margin-left: 14px;
        margin-right: 14px;
        margin-bottom: 70px;
    }
    .promo__title {
        justify-self: auto;
    }
}